.frame-child {
  height: 8rem;
  width: 8rem;
  position: relative;
  border-radius: var(--br-13xl);
  background: linear-gradient(180deg, #925fe2, #7042c0);
  display: none;
}
.graduation-cap-icon {
  height: 5.331rem;
  width: 5.169rem;
  position: relative;
  z-index: 1;
}
.rectangle-parent,
.user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent {
  flex: 1;
  border-radius: var(--br-13xl);
  background: linear-gradient(180deg, #925fe2, #7042c0);
  padding: 1.331rem 1.413rem 1.338rem 1.419rem;
  gap: 0.831rem;
}
.user {
  align-self: stretch;
  padding: 0 var(--padding-6xs) 0 var(--padding-6xs-5);
}
.dashboard-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.dashboard {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 5.688rem;
}
.p-t-g {
  width: 7.938rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--secondarybackgroundcolor);
}
.contacts-alt-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.attendence {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 5.875rem;
}
.nav-items {
  width: 8.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.cash-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.payment-info {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 6.625rem;
}
.nav-items1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.notebook-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.courses {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 4.125rem;
}
.nav-items2 {
  width: 6.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.equal-circle-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.result {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 3.063rem;
}
.nav-items3 {
  width: 5.313rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.annotation-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.notice {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 3.188rem;
}
.nav-items4 {
  width: 5.438rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.contacts-alt-icon1 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.schedule {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 4.688rem;
}
.nav-items5 {
  width: 6.938rem;
  flex-direction: row;
  gap: var(--gap-xs);
}
.content-area,
.nav-items5,
.navigation1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-29xl);
}
.content-area {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 var(--padding-6xs-5);
}
.logout-icon1 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.logout {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 3.438rem;
}
.content-area-parent,
.logout-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-icon {
  width: 5.688rem;
  flex-direction: row;
  gap: var(--gap-xs);
  color: var(--color-gray-200);
}
.content-area-parent {
  width: 14.563rem;
  border-radius: var(--br-5xl);
  background: linear-gradient(0deg, #925fe2, rgba(146, 95, 226, 0), #e2d4f7);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 3rem var(--padding-20xl);
  box-sizing: border-box;
  gap: 13rem;
}
.search-magnifier-icon {
  width: 1.625rem;
  height: 1.469rem;
  position: relative;
}
.search-handle-icon {
  width: 71.15%;
  height: 71.15%;
  position: absolute;
  margin: 0 !important;
  top: 12.31%;
  right: 16.54%;
  bottom: 16.54%;
  left: 12.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.icon-search,
.scholarcap-scrollbar,
.search-label-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-search {
  height: 1.625rem;
  flex-direction: column;
  position: relative;
  gap: 0.625rem;
}
.scholarcap-scrollbar,
.search-label-area {
  box-sizing: border-box;
}
.search-label-area {
  width: 3.563rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 1.563rem;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.scholarcap-scrollbar {
  width: 24.625rem;
  border-radius: var(--br-5xl);
  background-color: var(--secondarybackgroundcolor);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-mid);
  gap: var(--gap-xs);
  max-width: 100%;
}
.no-application-icon {
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  transform: scale(3.353);
}
.wrapper-no-application {
  height: 2.975rem;
  width: 3rem;
  position: relative;
  border-radius: 360px;
  flex-shrink: 0;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.john-doe,
.rd-year {
  position: relative;
  white-space: nowrap;
}
.john-doe {
  align-self: stretch;
  font-weight: 600;
  display: inline-block;
  min-width: 4.75rem;
}
.rd-year {
  width: 4.188rem;
  color: var(--color-gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4.188rem;
}
.application-name-label,
.wrapper-no-application-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper-no-application-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-xs);
}
.bell-ringing-icon {
  align-self: stretch;
  width: 3.375rem;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 3rem;
}
.profile,
.search-bar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.profile {
  width: 17.438rem;
  justify-content: flex-start;
  gap: 5.563rem;
}
.search-bar {
  height: 3rem;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.welcome-back-john {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.always-stay-updated {
  width: 21.5rem;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.welcome-back-john-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.063rem;
  max-width: 100%;
}
.september-4-2023 {
  width: 9.563rem;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  white-space: pre-wrap;
  display: inline-block;
}
.welcome-messages,
.welcome-messages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.welcome-messages {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.welcome-messages-wrapper {
  width: 22rem;
  justify-content: flex-end;
  padding: 0 0 var(--padding-20xl);
  box-sizing: border-box;
  min-width: 22rem;
}
.frame-item {
  height: 11.25rem;
  width: 11.25rem;
  display: none;
}
.college-student-icon {
  height: 12.625rem;
  width: 12.688rem;
  position: relative;
  border-radius: 9.13px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.frame-parent {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background: linear-gradient(98.5deg, #925fe2, #dfcff7);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-17xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.progress {
  width: 12.5rem;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.base,
.ellipse,
.ellipse1,
.ellipse2,
.ellipse3,
.ellipse4,
.ellipse5,
.ellipse6 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}
.base {
  background-color: rgba(0, 0, 0, 0.2);
}
.ellipse,
.ellipse1,
.ellipse2,
.ellipse3,
.ellipse4,
.ellipse5,
.ellipse6 {
  border: 0 solid var(--dark-theme-grad-1);
  box-sizing: border-box;
  z-index: 1;
}
.ellipse1,
.ellipse2,
.ellipse3,
.ellipse4,
.ellipse5,
.ellipse6 {
  border: 0 solid var(--dark-theme-grad-2);
  z-index: 2;
}
.ellipse2,
.ellipse3,
.ellipse4,
.ellipse5,
.ellipse6 {
  border: 0 solid var(--dark-theme-grad-3);
  z-index: 3;
}
.ellipse3,
.ellipse4,
.ellipse5,
.ellipse6 {
  border: 0 solid var(--dark-theme-grad-4);
  z-index: 4;
}
.ellipse4,
.ellipse5,
.ellipse6 {
  border: 0 solid var(--dark-theme-grad-5);
  z-index: 5;
}
.ellipse5,
.ellipse6 {
  border: 0 solid var(--dark-theme-grad-6);
  z-index: 6;
}
.ellipse6 {
  border: 0 solid var(--dark-theme-grad-7);
  z-index: 7;
}
.total,
.y-axis {
  line-height: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.y-axis {
  align-self: stretch;
  height: 5.144rem;
  position: relative;
  letter-spacing: 0.05em;
  flex-shrink: 0;
  z-index: 8;
}
.total {
  width: 5.488rem;
  position: absolute;
  margin: 0 !important;
  top: 4.075rem;
  left: 4.294rem;
  font-size: var(--font-size-2xl);
  color: var(--color-mediumslateblue-200);
  z-index: 9;
}
.attendance-chart,
.chart-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chart-7 {
  flex: 1;
  flex-direction: column;
  padding: 4.556rem 0.975rem 4.238rem;
  position: relative;
}
.attendance-chart {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-2xl);
}
.legend-dot-icon {
  width: 1.125rem;
  height: 1.125rem;
  position: relative;
}
.legend-dot-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.b,
.label {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 2.438rem;
}
.b {
  color: var(--color-darkorchid-100);
  min-width: 1.563rem;
}
.value-1 {
  margin: 0 !important;
  position: absolute;
  top: 0.188rem;
  left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.legend-dot-icon1 {
  width: 1.125rem;
  height: 1.125rem;
  position: relative;
}
.legend-dot-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.b1,
.label1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 2.438rem;
}
.b1 {
  color: var(--color-darkorchid-100);
  min-width: 1.563rem;
}
.value-2 {
  margin: 0 !important;
  position: absolute;
  top: 0.188rem;
  left: 9.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--dark-theme-label-2);
}
.legend-dot-icon2 {
  width: 1.125rem;
  height: 1.125rem;
  position: relative;
}
.legend-dot-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.b2,
.label2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 2.438rem;
}
.b2 {
  color: var(--color-darkorchid-100);
  min-width: 1.563rem;
}
.value-3 {
  margin: 0 !important;
  position: absolute;
  top: 2.188rem;
  left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--dark-theme-label-3);
}
.legend-dot-icon3 {
  width: 1.125rem;
  height: 1.125rem;
  position: relative;
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.b3,
.label3 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 2.438rem;
}
.b3 {
  color: var(--color-darkorchid-100);
  min-width: 1.563rem;
}
.value-4 {
  margin: 0 !important;
  position: absolute;
  top: 2.188rem;
  left: 9.125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--dark-theme-label-4);
}
.legend-dot-icon4 {
  width: 1.125rem;
  height: 1.125rem;
  position: relative;
}
.legend-dot-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.b4,
.label4 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 2.438rem;
}
.b4 {
  color: var(--color-darkorchid-100);
  min-width: 1.563rem;
}
.value-5 {
  margin: 0 !important;
  position: absolute;
  top: 4.188rem;
  left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--dark-theme-label-5);
}
.legend-dot-icon5 {
  width: 1.125rem;
  height: 1.125rem;
  position: relative;
}
.legend-dot-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.b5,
.label5 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 1.375rem;
  display: inline-block;
  min-width: 2.438rem;
}
.b5 {
  color: var(--color-darkorchid-100);
  min-width: 1.563rem;
}
.legend,
.value-6 {
  display: flex;
  flex-direction: row;
}
.value-6 {
  margin: 0 !important;
  position: absolute;
  top: 4.188rem;
  left: 9.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--dark-theme-label-6);
}
.legend {
  align-self: stretch;
  height: 5.75rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0.625rem 1.5rem;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark-theme-label-1);
  font-family: var(--font-figtree);
}
.chart-and-legend,
.progress-and-stats {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chart-and-legend {
  border-radius: var(--br-5xl);
  background-color: var(--secondarybackgroundcolor);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding: var(--padding-5xl) 2.188rem;
  gap: 1.938rem;
  text-align: center;
  font-size: var(--font-size-55xl);
  color: #9c6fe4;
  font-family: var(--font-abhaya-libre);
}
.progress-and-stats {
  gap: var(--gap-xs);
}
.enrolled-courses {
  width: 12.5rem;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.database-management-system {
  align-self: stretch;
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
}
.view {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--secondarybackgroundcolor);
  text-align: left;
  display: inline-block;
  min-width: 2.813rem;
}
.course-items,
.course-list,
.view-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.view-buttons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-22xl-5);
  background-color: var(--color-mediumslateblue-200);
  border-radius: var(--br-6xl);
  flex-direction: row;
}
.view-buttons:hover,
.view-wrapper:hover {
  background-color: var(--color-mediumslateblue-100);
}
.course-items,
.course-list {
  flex-direction: column;
}
.course-items {
  align-self: stretch;
  gap: var(--gap-lgi);
}
.course-list {
  flex: 1;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 7.5rem;
}
.icon-container {
  height: 5.85rem;
  width: 6.056rem;
  position: relative;
  object-fit: contain;
}
.course-overview,
.course-status,
.progress-and-attendance {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.course-status {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background-color: rgba(156, 111, 228, 0.3);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-10xl) var(--padding-lg) var(--padding-5xl);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  color: var(--color-mediumslateblue-200);
}
.course-overview,
.progress-and-attendance {
  flex-direction: column;
}
.course-overview {
  align-self: stretch;
  gap: var(--gap-xs);
}
.progress-and-attendance {
  flex: 1;
  gap: var(--gap-5xl);
  min-width: 13.875rem;
  max-width: 100%;
}
.attendance {
  width: 12.5rem;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.base1,
.current-progress {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--dark-theme-grad-5);
  box-sizing: border-box;
}
.base1 {
  opacity: 0.2;
}
.current-progress {
  z-index: 1;
}
.data-labels,
.label6,
.legend-values {
  position: absolute;
  line-height: 1.375rem;
  display: inline-block;
  z-index: 2;
}
.data-labels {
  height: 36.92%;
  width: 86.15%;
  top: 32.69%;
  left: 6.92%;
  font-size: var(--font-size-55xl);
  letter-spacing: -0.02em;
  font-family: var(--font-acme);
}
.label6,
.legend-values {
  height: 6.92%;
  width: 38.85%;
  top: 15%;
  left: 28.85%;
}
.legend-values {
  height: 8.85%;
  top: 23.85%;
  line-height: 1.438rem;
  color: var(--color-black);
}
.circle {
  height: 16.25rem;
  width: 16.25rem;
  position: relative;
}
.attendance-parent,
.circle-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.circle-wrapper {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--secondarybackgroundcolor);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  flex-direction: row;
  padding: 3.063rem 1.875rem;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--dark-theme-label-5);
  font-family: var(--font-figtree);
}
.attendance-parent {
  height: 27.25rem;
  flex-direction: column;
  gap: var(--gap-xs);
}
.see-all {
  width: 5rem;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduction-to-intelligence {
  align-self: stretch;
  position: relative;
  line-height: 1.5rem;
  font-weight: 600;
}
.view1 {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--secondarybackgroundcolor);
  text-align: left;
  display: inline-block;
  min-width: 2.813rem;
}
.view-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-22xl-5);
  background-color: var(--color-mediumslateblue-200);
  border-radius: var(--br-6xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper,
.introduction-to-intelligence-s-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.introduction-to-intelligence-s-parent {
  align-self: stretch;
  gap: var(--gap-lgi);
}
.frame-wrapper {
  flex: 1;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 7.5rem;
}
.frame-inner {
  height: 6.081rem;
  width: 6rem;
  position: relative;
}
.frame-group,
.see-all-parent {
  align-self: stretch;
  display: flex;
}
.frame-group {
  border-radius: var(--br-5xl);
  background-color: rgba(146, 95, 226, 0.3);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-10xl) 1.281rem var(--padding-5xl);
  gap: var(--gap-lgi);
  text-align: left;
  font-size: var(--font-size-base);
}
.see-all-parent {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: center;
  color: var(--color-mediumslateblue-200);
}
.progress-and-attendance1,
.stats-and-courses,
.welcome {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.progress-and-attendance1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  min-width: 13.875rem;
}
.stats-and-courses,
.welcome {
  align-items: flex-start;
}
.stats-and-courses {
  align-self: stretch;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.welcome {
  flex: 1;
  flex-direction: column;
}
.instructors-icon,
.wrapper-instructors {
  border: 0;
  background-color: transparent;
  outline: 0;
  align-self: stretch;
  flex-shrink: 0;
}
.instructors-icon {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  transform: scale(1.34);
}
.wrapper-instructors {
  height: 20.563rem;
  width: auto;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-intructors,
.see-all1 {
  position: relative;
  font-weight: 600;
}
.course-intructors {
  letter-spacing: 0.05em;
}
.see-all1 {
  width: 4.188rem;
  color: var(--color-mediumslateblue-200);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4.188rem;
}
.course-instructors-header {
  width: 22.188rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.ellipse-icon,
.instructor-avatars-child,
.instructor-avatars-inner,
.instructor-avatars-item {
  height: 4.375rem;
  width: 4.375rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  min-height: 4.375rem;
}
.course-instructors-header-parent,
.instructor-avatars,
.instructors-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.instructor-avatars {
  flex: 1;
  border-radius: 10px;
  background-color: var(--secondarybackgroundcolor);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  flex-direction: row;
  padding: 0.938rem var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-lg);
}
.course-instructors-header-parent,
.instructors-list {
  align-self: stretch;
}
.instructors-list {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.course-instructors-header-parent {
  flex-direction: column;
  gap: var(--gap-xs);
}
.payment-info1,
.see-all2 {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.payment-info1 {
  width: 10.375rem;
  letter-spacing: 0.05em;
  line-height: 1.625rem;
}
.see-all2 {
  height: 1.625rem;
  width: 4.188rem;
  color: var(--color-mediumslateblue-200);
  text-align: center;
  justify-content: center;
  min-width: 4.188rem;
}
.payment-info-header {
  width: 22.188rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.file-pen {
  height: 3.713rem;
  width: 5.306rem;
  position: relative;
}
.payment-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xs) 0 var(--padding-smi);
}
.amount-values {
  width: 5.125rem;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5.125rem;
  white-space: nowrap;
}
.amount-labels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 0 0.844rem;
}
.total-payable {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  display: inline-block;
  min-width: 6.813rem;
}
.payment-amounts,
.payment-status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.payment-amounts {
  width: 6.813rem;
  align-items: flex-start;
}
.payment-status {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background-color: var(--secondarybackgroundcolor);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  align-items: center;
  padding: 1.288rem var(--padding-xl) var(--padding-sm);
  gap: var(--gap-xs);
}
.wrapper-group-14-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: -0.312rem;
  top: -0.25rem;
  transform: scale(1.22);
}
.div1,
.wrapper-group-14 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-group-14 {
  width: 4.875rem;
  height: 4.594rem;
}
.div1 {
  width: 4.688rem;
  font-weight: 600;
  min-width: 4.688rem;
  white-space: nowrap;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.total-paid {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  display: inline-block;
  min-width: 4.938rem;
}
.frame-container {
  width: 4.938rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-details,
.payment-status1,
.see-all-button {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.payment-status1 {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--secondarybackgroundcolor);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  align-items: center;
  padding: 0.644rem var(--padding-xl) 0.638rem;
  gap: var(--gap-xs);
}
.payment-details,
.see-all-button {
  align-items: flex-start;
  max-width: 100%;
}
.see-all-button {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--secondarybackgroundcolor);
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  flex-direction: column;
  gap: 0.813rem;
}
.payment-details {
  height: 20.813rem;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: center;
}
.instructor-payments,
.payment-info-header-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-info-header-parent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.instructor-payments {
  width: 22.688rem;
  align-items: flex-end;
  gap: var(--gap-4xl);
  min-width: 22.688rem;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.greeting {
  align-self: stretch;
  flex-direction: row;
  gap: 2rem;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--secondarybackgroundcolor);
  font-family: var(--font-poppins);
}
.greeting,
.search-and-profile,
.student-portal-dashboard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-and-profile {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  max-width: calc(100% - 273px);
}
.student-portal-dashboard {
  width: 100%;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--secondarybackgroundcolor);
  box-shadow: 12px 12px 48px 24px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 975px) {
  .content-area-parent {
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 950px) {
  .content-area-parent {
    display: none;
  }
  .welcome-back-john {
    font-size: 1.625rem;
  }
  .data-labels,
  .y-axis {
    font-size: var(--font-size-40xl);
    line-height: 1.125rem;
  }
  .instructor-payments {
    flex: 1;
  }
  .greeting {
    flex-wrap: wrap;
  }
  .search-and-profile {
    max-width: 100%;
  }
  .student-portal-dashboard {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 700px) {
  .content-area-parent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .application-name-label {
    display: none;
  }
  .welcome-messages-wrapper {
    flex: 1;
    min-width: 100%;
  }
  .college-student-icon {
    flex: 1;
  }
  .frame-parent {
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent,
  .stats-and-courses {
    flex-wrap: wrap;
  }
  .instructor-payments,
  .welcome {
    min-width: 100%;
  }
  .greeting {
    gap: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .profile {
    gap: 2.75rem;
  }
  .welcome-back-john {
    font-size: var(--font-size-lgi);
  }
  .progress {
    font-size: var(--font-size-base);
  }
  .y-axis {
    font-size: var(--font-size-25xl);
    line-height: 0.813rem;
  }
  .total {
    font-size: var(--font-size-mid);
    line-height: 1.125rem;
  }
  .chart-and-legend {
    gap: 0.938rem;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .enrolled-courses {
    font-size: var(--font-size-base);
  }
  .course-status {
    flex-wrap: wrap;
  }
  .attendance {
    font-size: var(--font-size-base);
  }
  .data-labels {
    font-size: var(--font-size-25xl);
    line-height: 0.813rem;
  }
  .label6,
  .legend-values {
    font-size: var(--font-size-mid);
    line-height: 1.125rem;
  }
  .circle-wrapper {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .see-all {
    font-size: var(--font-size-base);
  }
  .frame-group {
    flex-wrap: wrap;
  }
  .course-intructors,
  .see-all1 {
    font-size: var(--font-size-base);
  }
  .course-instructors-header,
  .instructor-avatars {
    flex-wrap: wrap;
  }
  .payment-info1,
  .see-all2 {
    font-size: var(--font-size-base);
  }
  .payment-info-header {
    flex-wrap: wrap;
  }
  .amount-values,
  .div1 {
    font-size: var(--font-size-base);
  }
}
